# Archivos y carpetas de Eclipse
/.settings/
/bin/
/build/
/target/
/.classpath
/.project
.DS_Store
Thumbs.db

# Archivos de dependencias
.m2/
node_modules/
.gradle/

# Archivos de configuración de versiones
.gitmodules